$white: #ffffff;
$tomato: #e94d27;
$black: #2a2927;
$gray: #e7e7e7;
$warm-grey: #8f8f8f;

@media only screen and (max-width: 320px) {
  body {
    min-height: unset;
    overflow-x: hidden;
  }
  body, html {


  }
  header, .main-menu {
    /*position: fixed;
    top: 0;
    z-index: 999;*/
    section {
      height: 50px;

      /* Верхнее меню */
      &:first-child {
        background: #fff;
        margin: 0;
        div {
          display: none !important;
        }
        .mobile-menu {
          display: block !important;
          visibility: visible;
          opacity: 1;
          margin: auto 0;
        }
        .mobile-menu__cart {
          width: 31px;
          height: 32px;
          object-fit: contain;
          border-radius: 5px;
          background-color: $tomato;
          text-align: center;
          padding: 5px 4px;
        }
        .menu-icon {
          width: 25px;
          height: 17px;
          object-fit: contain;
        }
        .online-shopping-cart {
          width: 23px;
          height: 21px;
          object-fit: contain;
        }
        .header-item-first {
          div:first-child {
            display: block !important;
          }
          .logo {
            width: 40px !important;
            height: 40px !important;
            margin: auto;
            padding: 0;

            img {
              height: inherit;
              width: inherit;
            }
          }
        }

      }

      /* Навигация по категориям */
      &.main-menu {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
          width: 2px;
          height: 2px;
        }
        &::-webkit-scrollbar-button {
          width: 0px;
          height: 0px;
        }
        &::-webkit-scrollbar-thumb {
          background: #e1e1e1;
          border: 0px none #ffffff;
          border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #ffffff;
        }
        &::-webkit-scrollbar-thumb:active {
          background: #000000;
        }
        &::-webkit-scrollbar-track {
          background: #666666;
          border: 0px none #ffffff;
          border-radius: 50px;
        }
        &::-webkit-scrollbar-track:hover {
          background: #666666;
        }
        &::-webkit-scrollbar-track:active {
          background: #333333;
        }
        &::-webkit-scrollbar-corner {
          background: transparent;
        }

        & nav.container {
          padding: 0 7.5px;
        }

        & li {
          span {
            display: none;
          }

          & a {
            border-left: none;
            font-size: 14px;
            height: 50px;
            padding: 0 7.5px;
            white-space: nowrap;

          }

          &:last-of-type > a {
            border-right: unset;
            display: none;
          }

        }

      }
    }

  }

  /*  Слайдер */
  .section-slider {
    margin-bottom: 20px;
  }

  /* Скрываем навигацию */
  .flickity-prev-next-button, .flickity-page-dots {
    display: none;
  }
  .flickity-viewport {
    min-height: 210px !important;
    height: auto !important;
  }
  .slider-content {
    bottom: 165px;
    text-align: center;
  }
  .slider-h1 {
    font-size: 31.5px;
    margin-bottom: 0;
  }
  .slider-h2 {
    font-size: 20.5px;
  }
  .slider-h3 {
    font-size: 13px;
    margin-top: 15px;
  }
  .slider-content::before {
    content: ' ';
    background: url(../img/brush.png) center no-repeat;
    width: 290px;
    height: 163px;
    -webkit-background-size: cover;
    background-size: cover;
    top: -27%;
    left: 4%;
  }

  .home-carousel .carousel-cell, .home-carousel .carousel-cell img {
    min-height: 210px;
    height: auto;
    object-fit: cover;
  }

  /* Главная */

  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 0.86;
  }

  .row {
    padding: 0 15px;
  }

  /* Товары */
  .prod-card {
    padding: 0;
    max-width: 138px;
    &.prod-card__dual {
      max-width: 290px;
      //&:nth-last-child(2){
      //  margin-bottom: 18px;
      //}
      //&:nth-child(odd) {
      //  margin-right: 0px;
      //}
    }

    margin-bottom: 18px;
    //&:nth-last-child(2), &:last-child {
    //  margin-bottom: 0;
    //}
    &:nth-child(odd) {
      margin-right: 12px;
    }

  }

  .prod {
    width: auto;
    min-width: 138px;
    height: auto;
    padding: 10px 0;
    margin-bottom: 0px;

    .prod-images {
      height: 92px;
    }
    .prod-img {
      height: 92px;

      img {
        width: auto;
        max-width: 134px;
        height: auto;
        max-height: 92px;
      }
    }
    .prod-adds, .g-text, .prod-main {
      display: none;
    }
    h5 {
      margin-top: 7px;
      font-size: 14px;
      padding: 0 7px;
      height: 58px;
    }
    .prod-price {
      position: unset;
      margin-left: 7px;
      font-size: 18px;
    }
    .prod-btn-cart:not(.wan-spinner) {
      text-indent: -9999px;
      white-space: nowrap;
      margin-top: -7px;
      margin-right: 7px;
      border-radius: 5px;
      padding: 4px 5px;
      height: 32px;
      width: 31px;
      background: #e94d26 url(../img/online-shopping-cart.png) center no-repeat;

    }

  }
  .prod-dual {
    width: 290px;
    min-width: 290px;
    height: 112px;
  }

  .prod-dual > div {
    /* width: 333px; */
    height: 100%;
  }

  .prod-dual .prod-images {
    height: 100%;
  }

  .prod-dual .prod-img {
    height: 92px;
  }

  .prod-dual .prod-main {
    height: 112px;
  }

  .prod-dual.prod-md {
    width: 290px;
    min-width: 290px;
    height: 112px;
  }

  .prod-dual.prod-md > div {
    width: 290px;
  }

  .prod-dual.prod-md .prod-img {
    height: 92px;
  }

  .prod-dual.prod-md .prod-main {
    height: 112px;
  }

  /* Информация о доставке */
  .section-delivery {
    .col-12 {
      padding: 0;
    }
    .p-text-block {
      h4 {
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 11px;
      }
      p {
        margin: 0;
      }
      max-width: 290px;
      margin-bottom: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
    }
  }

  .section-delivery__uncity {
    padding: 0;

    .gray-block {
      padding: 20px 25px 5px 15px;
      line-height: 1.44;
      h4 {
        line-height: 1.3;
      }
      ul {
        margin-top: 0;

        li {
          margin-bottom: 10px;
          margin-left: 26px;
          &::before {
            left: 0px;
          }
        }
      }

    }
  }

  .section-map {
    margin-top: 0 !important;
    #map {
      height: 300px;
    }
    #map_container {
      height: 300px;
      margin-top: 192px;
    }
    .map-window {
      position: absolute;
      background: white;
      height: 192px;
      width: 100%;
      top: -489px;
      left: 0;
      padding: 0 15px;
      border-radius: unset;
      -webkit-box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.39);
      -moz-box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.39);
      box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.39);
      font-size: 14px;

      div:first-child {
        margin-top: 10px;
      }
      div:nth-child(2) {
        margin-bottom: 24px;
      }
      img {
        width: 11px;
        height: auto;
      }
      h1 {
        font-size: 27.5px;
        margin-left: 21.5px;
      }
    }
  }

  /* Footer */

  footer {
    padding-top: 19px;
    bottom: unset;
    h5 {
      padding-bottom: 12px;
      line-height: 1.33;
    }
    .col-12 {
      padding: 0;
    }
    .footer-logo {
      margin-right: 15px;
    }
    font-size: 15.5px;
    line-height: 1.25;

    .foot-menu {
      margin-top: 19px;
      ul li {
        min-width: 136px;
        max-width: 136px;
        margin-bottom: 8px;
        &:nth-child(odd) {
          margin-right: 14px;
        }
      }
    }
    .col-phohe {
      margin-top: 9px;
      font-size: 16px;
      .footer-phone {
        font-size: 28px;
        line-height: 1.5;
        margin-bottom: unset;
      }
      .fl-right {
        float: left !important;

        .icon-soc {
          margin-top: 24px;
          margin-left: unset;
          &:first-child {
            margin-right: 15px;
          }
        }
      }
    }
    .devider {
      margin-top: 20px;
    }
    .row .col {
      flex-basis: unset;
      padding: 0;
      font-size: 16px;
      &:first-child {
        margin-top: -7px;
        margin-bottom: 10px;
      }
      &.foot-hor-menu {
        line-height: 1.55;
        margin-bottom: 10px;
      }
      .creator {
        float: left;
        font-size: 14px;
        margin-bottom: 18px;

      }
    }

  }

  /* Other pages */
  h1 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .inner-container {
    min-width: 100%;
    max-width: 100%;
    &.page {

      p, ul, img {
        margin-bottom: 20px;
        font-size: 16px;

      }
      p {
        i {
          font-size: 18px;
        }

        img {
          width: 100%;
          height: auto;
          margin-left: 0;
          margin-bottom: 0;
        }

      }
      ul li {
        font-size: 16px;
        line-height: 1.63;
        margin-left: 27px;
        &:before {
          left: -8px;
        }
      }
      h4 {
        text-align: center;
      }
    }
    /* cart */
    .steps {
      float: unset !important;
      margin-top: -3px;
      display: block;
    }
    .prod-incart {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important;
      height: 100px;
      margin-bottom: 20px;
      position: relative;
      .prod-incart-price {
        width: auto;
        position: absolute;
        right: 10px;
        height: 35px;
      }
      .prod-incart-img {
        display: none;
      }
      .prod-incart-desc {
        min-width: 0;
        max-width: 10px;
      }
      .wan-spinner {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
      .mg-auto {
        margin: unset !important;
      }
      h5 {
        margin-top: unset;
        font-size: 16px;
        height: unset;
        text-align: left;
        width: 290px;
      }
      .g-text {
        display: block;
        font-size: 16px;
        text-align: left;
        padding-left: 7px;
        margin-top: 5px;

      }
      .prod-incart-del {
        width: 28px;
        height: 27px;
        position: absolute;
        bottom: -5px;
        left: 5px;
      }
      .prod-incart-del > a {
        top: unset;
        bottom: 10px;

      }
    }
    .promo-container {
      padding: 0 10px;

      .promo-container-block {
        font-size: 13.5px;
        height: 101px;
        width: 70px;
      }
    }
    #promo-progbar svg {
      height: 8px;
    }
    .cart-active-coupon {
      width: 100%;
      padding: 0;
      margin-bottom: 20px;

      .btn {
        width: 100%;
      }
      .input {
        width: 100%;
        &[type=text] {
          width: 150%;
        }
      }
    }

    .cart-full-price {
      padding: 0;
    }
    .full-price {
      height: auto;
      .justify-content-end {
        order: -1;
      }

      .col-sm {
        padding: 0;
        text-align: right;
        width: 100%;
        .btn {
          text-align: center;
        }
      }
      .btn-order {
        width: 100%;
        text-align: center;
        &.btn-cart-next {
          margin-bottom: 15px;
        }
      }
    }

    .prod-order-panel {
      margin-bottom: 20px;
      .w-420px, .w-270px, .w-344px {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        padding: 0 7px;
      }
      .order-input[type=text] {
        max-width: calc(100% - 14px) !important;
        min-width: calc(100% - 14px) !important;
        width: calc(100% - 14px) !important;
        margin-left: 7px;
        margin-right: 7px;
      }
      .w-270px {
        margin-bottom: 10px;
      }
      .order-input {
        margin-top: 0;
        margin-bottom: 20px;
      }
      h4 {
        text-align: center;
      }

      .prod-delivery {
        height: 115px !important;
        margin-bottom: 20px;
        padding: 10px 7px !important;
        max-width: calc(100% - 14px) !important;
        min-width: calc(100% - 14px) !important;
        width: calc(100% - 14px) !important;
        margin-left: 7px;
        margin-right: 7px;
        .prod-main {
          display: block !important;
        }
        label {
          width: 220px !important;
        }
        .prod-price {
          position: absolute;
        }

      }

      .js-deliv-price {
        margin-left: 0 !important;
      }
      .prod-delivery-accept {
        margin: 0 7px;
      }

    }
    .js-in-home, .js-in-room, .js-in-pod, .js-in-et {
      &.order-input[type=text] {
        width: 44% !important;
        min-width: 44% !important;
        max-width: 44% !important;
      }

    }
    .prod {
      .w-100.d-flex.justify-content-end {
        //display: block !important;
        .select-container {
          margin-left: 7px;
          margin-right: 7px;
          margin-bottom: 10px;
        }
      }
      .edd-root {
        width: 100%;
        display: block;
      }

      .tabs {
        li {
          margin-right: -3px;
          width: 50%;
        }
        .g-text {
          display: block !important;
        }
      }
    }

  }
  .btn-order {
    padding: 14px 28px !important;
    line-height: unset !important;
  }
  /* Order */
  .main-carousel:not(.home-carousel) {
    padding-top: 15px;
    height: 131px;
    .flickity-viewport {
      height: 156px !important;

      .prod-dual.prod-md {
        width: 220px;
        min-width: 220px;
        height: 106px;
        .g-text {
          display: block;
          font-size: 14px;
        }
        & > div {
          width: 110px;
          &:first-of-type {
            width: 98px !important;
          }
        }
        h5 {
          height: auto;
          margin-top: 0;
          line-height: 14px;
        }
        .margin {
          display: none;
        }
      }
    }
    .carousel-cell {
      width: 220px;
      margin-right: 20px;
    }

  }
  .order-table-2 {
    .g-text {
      display: block;
      font-size: 14px;
    }
    tr {
      margin: 0 7px;
    }
    & tr > td:nth-of-type(1), & tr > td:nth-of-type(2), tr > td:last-of-type {
      width: 50%;
    }
    & tr > td:nth-of-type(1), & tr > td:nth-of-type(2) {
      display: block;
      width: 120%;
      padding-left: 7px;
    }
    & tr > td:last-of-type {
      text-align: right;
      font-size: 16px !important;
      padding-right: 7px;
    }
    & tr:last-child {
      & > td:nth-of-type(1), & > td:nth-of-type(2) {
        display: table-cell;
      }
      & > td:nth-of-type(2) {
        display: none;
      }
      .price-text {
        font-size: 20px !important;
      }
    }

  }
  .tabs {
    li {
      margin-right: -3px;
      width: 50%;
      text-align: center;
      & h4 {
        font-size: 16px;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 3px;
      }
    }
    input.w-464px {
      max-width: unset;
      min-width: unset;
    }
    .btn {
      width: 100%;
    }
    .prod-order {
      position: relative;
      height: 106px;
      margin-bottom: 20px;
      .g-text {
        display: block;
        font-size: 14px;
        margin-left: 7px;

      }
      & > div:first-of-type {
        min-width: unset;
        width: 100%;
        .g-text {
          min-width: 150px;
          line-height: 11px;
        }
      }
      & > div:nth-child(2), & > div:nth-child(3), & > div:nth-child(4) {
        position: absolute;
        top: 58px;
        div {
          margin-left: 7px;
        }
      }
      & > div:nth-child(2) {
        left: 0;
      }
      & > div:nth-child(3) {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
      & > div:nth-child(4) {
        right: 0;
        text-align: right;
        margin-right: 7px;
      }

      & > div {
        min-width: unset;
      }
      .btn {
        width: 125px;
        height: 40px;
        text-align: center;
        margin-right: 7px;
      }
      h5 {
        width: 100%;
        white-space: nowrap;
        font-size: 16px;
        height: unset;
        margin-top: 0;
      }
    }

  }

}

/* левое меню */
#sidenav {
  width: 288px;
  background: #fff;
  z-index: 100;

}

.sidenav {
  display: none;
  position: fixed;
  height: 100vh;
  z-index: 99;
  left: 0;
  top: 0;
  &.sidenav_overlay {
    width: 100%;
    opacity: 0.75;
    background-color: #121212;
  }

  .header-item {
    width: 288px;
    margin: 0;
    height: 50px;
    border-bottom: 1px solid $gray;
    padding: 0 15px;

    .header-item-icon {
      img {
        width: 20px;
      }
    }
  }
  .sidenav_info {
    margin-top: auto;
  }
  .sidenav_userinfo {
    width: 100%;

    .btn {
      border-radius: 0;
      height: 50px;
      padding: 9px 15px;

      & > img {
        vertical-align: middle;
      }
      & > span {
        font: 22px 'Neris';
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: clip;
        margin-left: 15px;
      }
    }
  }
  .sidenav_links li {
    padding: 0 15px;
    margin-top: 10px;
    font: 18px 'Neris';
    line-height: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e94c27;
  }
  .authorized {
    font-size: 18px;
  }
  .sidebar-user__links {
    padding: 20px 0;

  }
  .sidebar-user__link {
    margin-left: 15px;
    font-size: 18px;
    line-height: 30px;
  }
  .easy_modal {
    width: 100%;
    z-index: 999;
    padding: 10px;
    margin-left: 0;
    margin-top: 0;
    top: 0;
    left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 100vh;

    h2 {
      margin-top: 17vh;
      margin-bottom: 10vh;
      text-align: center;
    }
    p {
      margin-bottom: 5vh;
      text-align: center;
    }
    .btn, .input-btn-white {
      width: 100%;
      display: block;
      min-width: 100%;
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    .btn {
      margin-top: 10vh;
    }
    input {
      text-align: center;
    }
  }

}

/* Header border bottom */
header {
  border-bottom: 1px solid $gray;
}

textarea {
  font-family: 'Neris';
  font-weight: 300;
  font-size: 16px !important;
  color: var(--warm-grey);
  padding: 15px 10px !important;
}

.btn-order {
  padding: 0 28px;
  line-height: 40px;
}

.order-radio:checked + label::before {
  content: ' ';
  background: url(../img/round.svg) center no-repeat;
}
