@charset "UTF-8";
@media only screen and (max-width: 320px) {
  body {
    min-height: unset;
    overflow-x: hidden;
  }

  header, .main-menu {
    /*position: fixed;
    top: 0;
    z-index: 999;*/
  }
  header section, .main-menu section {
    height: 50px;
    /* Верхнее меню */
    /* Навигация по категориям */
  }
  header section:first-child, .main-menu section:first-child {
    background: #fff;
    margin: 0;
  }
  header section:first-child div, .main-menu section:first-child div {
    display: none !important;
  }
  header section:first-child .mobile-menu, .main-menu section:first-child .mobile-menu {
    display: block !important;
    visibility: visible;
    opacity: 1;
    margin: auto 0;
  }
  header section:first-child .mobile-menu__cart, .main-menu section:first-child .mobile-menu__cart {
    width: 31px;
    height: 32px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #e94d27;
    text-align: center;
    padding: 5px 4px;
  }
  header section:first-child .menu-icon, .main-menu section:first-child .menu-icon {
    width: 25px;
    height: 17px;
    object-fit: contain;
  }
  header section:first-child .online-shopping-cart, .main-menu section:first-child .online-shopping-cart {
    width: 23px;
    height: 21px;
    object-fit: contain;
  }
  header section:first-child .header-item-first div:first-child, .main-menu section:first-child .header-item-first div:first-child {
    display: block !important;
  }
  header section:first-child .header-item-first .logo, .main-menu section:first-child .header-item-first .logo {
    width: 40px !important;
    height: 40px !important;
    margin: auto;
    padding: 0;
  }
  header section:first-child .header-item-first .logo img, .main-menu section:first-child .header-item-first .logo img {
    height: inherit;
    width: inherit;
  }
  header section.main-menu, .main-menu section.main-menu {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  header section.main-menu::-webkit-scrollbar, .main-menu section.main-menu::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  header section.main-menu::-webkit-scrollbar-button, .main-menu section.main-menu::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  header section.main-menu::-webkit-scrollbar-thumb, .main-menu section.main-menu::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  header section.main-menu::-webkit-scrollbar-thumb:hover, .main-menu section.main-menu::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  header section.main-menu::-webkit-scrollbar-thumb:active, .main-menu section.main-menu::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  header section.main-menu::-webkit-scrollbar-track, .main-menu section.main-menu::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  header section.main-menu::-webkit-scrollbar-track:hover, .main-menu section.main-menu::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  header section.main-menu::-webkit-scrollbar-track:active, .main-menu section.main-menu::-webkit-scrollbar-track:active {
    background: #333333;
  }
  header section.main-menu::-webkit-scrollbar-corner, .main-menu section.main-menu::-webkit-scrollbar-corner {
    background: transparent;
  }
  header section.main-menu nav.container, .main-menu section.main-menu nav.container {
    padding: 0 7.5px;
  }
  header section.main-menu li span, .main-menu section.main-menu li span {
    display: none;
  }
  header section.main-menu li a, .main-menu section.main-menu li a {
    border-left: none;
    font-size: 14px;
    height: 50px;
    padding: 0 7.5px;
    white-space: nowrap;
  }
  header section.main-menu li:last-of-type > a, .main-menu section.main-menu li:last-of-type > a {
    border-right: unset;
    display: none;
  }

  /*  Слайдер */
  .section-slider {
    margin-bottom: 20px;
  }

  /* Скрываем навигацию */
  .flickity-prev-next-button, .flickity-page-dots {
    display: none;
  }

  .flickity-viewport {
    min-height: 210px !important;
    height: auto !important;
  }

  .slider-content {
    bottom: 165px;
    text-align: center;
  }

  .slider-h1 {
    font-size: 31.5px;
    margin-bottom: 0;
  }

  .slider-h2 {
    font-size: 20.5px;
  }

  .slider-h3 {
    font-size: 13px;
    margin-top: 15px;
  }

  .slider-content::before {
    content: " ";
    background: url(../img/brush.png) center no-repeat;
    width: 290px;
    height: 163px;
    -webkit-background-size: cover;
    background-size: cover;
    top: -27%;
    left: 4%;
  }

  .home-carousel .carousel-cell, .home-carousel .carousel-cell img {
    min-height: 210px;
    height: auto;
    object-fit: cover;
  }

  /* Главная */
  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 0.86;
  }

  .row {
    padding: 0 15px;
  }

  /* Товары */
  .prod-card {
    padding: 0;
    max-width: 138px;
    margin-bottom: 18px;
  }
  .prod-card.prod-card__dual {
    max-width: 290px;
  }
  .prod-card:nth-child(odd) {
    margin-right: 12px;
  }

  .prod {
    width: auto;
    min-width: 138px;
    height: auto;
    padding: 10px 0;
    margin-bottom: 0px;
  }
  .prod .prod-images {
    height: 92px;
  }
  .prod .prod-img {
    height: 92px;
  }
  .prod .prod-img img {
    width: auto;
    max-width: 134px;
    height: auto;
    max-height: 92px;
  }
  .prod .prod-adds, .prod .g-text, .prod .prod-main {
    display: none;
  }
  .prod h5 {
    margin-top: 7px;
    font-size: 14px;
    padding: 0 7px;
    height: 58px;
  }
  .prod .prod-price {
    position: unset;
    margin-left: 7px;
    font-size: 18px;
  }
  .prod .prod-btn-cart:not(.wan-spinner) {
    text-indent: -9999px;
    white-space: nowrap;
    margin-top: -7px;
    margin-right: 7px;
    border-radius: 5px;
    padding: 4px 5px;
    height: 32px;
    width: 31px;
    background: #e94d26 url(../img/online-shopping-cart.png) center no-repeat;
  }

  .prod-dual {
    width: 290px;
    min-width: 290px;
    height: 112px;
  }

  .prod-dual > div {
    /* width: 333px; */
    height: 100%;
  }

  .prod-dual .prod-images {
    height: 100%;
  }

  .prod-dual .prod-img {
    height: 92px;
  }

  .prod-dual .prod-main {
    height: 112px;
  }

  .prod-dual.prod-md {
    width: 290px;
    min-width: 290px;
    height: 112px;
  }

  .prod-dual.prod-md > div {
    width: 290px;
  }

  .prod-dual.prod-md .prod-img {
    height: 92px;
  }

  .prod-dual.prod-md .prod-main {
    height: 112px;
  }

  /* Информация о доставке */
  .section-delivery .col-12 {
    padding: 0;
  }
  .section-delivery .p-text-block {
    max-width: 290px;
    margin-bottom: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
  }
  .section-delivery .p-text-block h4 {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 11px;
  }
  .section-delivery .p-text-block p {
    margin: 0;
  }

  .section-delivery__uncity {
    padding: 0;
  }
  .section-delivery__uncity .gray-block {
    padding: 20px 25px 5px 15px;
    line-height: 1.44;
  }
  .section-delivery__uncity .gray-block h4 {
    line-height: 1.3;
  }
  .section-delivery__uncity .gray-block ul {
    margin-top: 0;
  }
  .section-delivery__uncity .gray-block ul li {
    margin-bottom: 10px;
    margin-left: 26px;
  }
  .section-delivery__uncity .gray-block ul li::before {
    left: 0px;
  }

  .section-map {
    margin-top: 0 !important;
  }
  .section-map #map {
    height: 300px;
  }
  .section-map #map_container {
    height: 300px;
    margin-top: 192px;
  }
  .section-map .map-window {
    position: absolute;
    background: white;
    height: 192px;
    width: 100%;
    top: -489px;
    left: 0;
    padding: 0 15px;
    border-radius: unset;
    -webkit-box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.39);
    -moz-box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.39);
    box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.39);
    font-size: 14px;
  }
  .section-map .map-window div:first-child {
    margin-top: 10px;
  }
  .section-map .map-window div:nth-child(2) {
    margin-bottom: 24px;
  }
  .section-map .map-window img {
    width: 11px;
    height: auto;
  }
  .section-map .map-window h1 {
    font-size: 27.5px;
    margin-left: 21.5px;
  }

  /* Footer */
  footer {
    padding-top: 19px;
    bottom: unset;
    font-size: 15.5px;
    line-height: 1.25;
  }
  footer h5 {
    padding-bottom: 12px;
    line-height: 1.33;
  }
  footer .col-12 {
    padding: 0;
  }
  footer .footer-logo {
    margin-right: 15px;
  }
  footer .foot-menu {
    margin-top: 19px;
  }
  footer .foot-menu ul li {
    min-width: 136px;
    max-width: 136px;
    margin-bottom: 8px;
  }
  footer .foot-menu ul li:nth-child(odd) {
    margin-right: 14px;
  }
  footer .col-phohe {
    margin-top: 9px;
    font-size: 16px;
  }
  footer .col-phohe .footer-phone {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: unset;
  }
  footer .col-phohe .fl-right {
    float: left !important;
  }
  footer .col-phohe .fl-right .icon-soc {
    margin-top: 24px;
    margin-left: unset;
  }
  footer .col-phohe .fl-right .icon-soc:first-child {
    margin-right: 15px;
  }
  footer .devider {
    margin-top: 20px;
  }
  footer .row .col {
    flex-basis: unset;
    padding: 0;
    font-size: 16px;
  }
  footer .row .col:first-child {
    margin-top: -7px;
    margin-bottom: 10px;
  }
  footer .row .col.foot-hor-menu {
    line-height: 1.55;
    margin-bottom: 10px;
  }
  footer .row .col .creator {
    float: left;
    font-size: 14px;
    margin-bottom: 18px;
  }

  /* Other pages */
  h1 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .inner-container {
    min-width: 100%;
    max-width: 100%;
    /* cart */
  }
  .inner-container.page p, .inner-container.page ul, .inner-container.page img {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .inner-container.page p i {
    font-size: 18px;
  }
  .inner-container.page p img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 0;
  }
  .inner-container.page ul li {
    font-size: 16px;
    line-height: 1.63;
    margin-left: 27px;
  }
  .inner-container.page ul li:before {
    left: -8px;
  }
  .inner-container.page h4 {
    text-align: center;
  }
  .inner-container .steps {
    float: unset !important;
    margin-top: -3px;
    display: block;
  }
  .inner-container .prod-incart {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
  }
  .inner-container .prod-incart .prod-incart-price {
    width: auto;
    position: absolute;
    right: 10px;
    height: 35px;
  }
  .inner-container .prod-incart .prod-incart-img {
    display: none;
  }
  .inner-container .prod-incart .prod-incart-desc {
    min-width: 0;
    max-width: 10px;
  }
  .inner-container .prod-incart .wan-spinner {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .inner-container .prod-incart .mg-auto {
    margin: unset !important;
  }
  .inner-container .prod-incart h5 {
    margin-top: unset;
    font-size: 16px;
    height: unset;
    text-align: left;
    width: 290px;
  }
  .inner-container .prod-incart .g-text {
    display: block;
    font-size: 16px;
    text-align: left;
    padding-left: 7px;
    margin-top: 5px;
  }
  .inner-container .prod-incart .prod-incart-del {
    width: 28px;
    height: 27px;
    position: absolute;
    bottom: -5px;
    left: 5px;
  }
  .inner-container .prod-incart .prod-incart-del > a {
    top: unset;
    bottom: 10px;
  }
  .inner-container .promo-container {
    padding: 0 10px;
  }
  .inner-container .promo-container .promo-container-block {
    font-size: 13.5px;
    height: 101px;
    width: 70px;
  }
  .inner-container #promo-progbar svg {
    height: 8px;
  }
  .inner-container .cart-active-coupon {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .inner-container .cart-active-coupon .btn {
    width: 100%;
  }
  .inner-container .cart-active-coupon .input {
    width: 100%;
  }
  .inner-container .cart-active-coupon .input[type=text] {
    width: 150%;
  }
  .inner-container .cart-full-price {
    padding: 0;
  }
  .inner-container .full-price {
    height: auto;
  }
  .inner-container .full-price .justify-content-end {
    order: -1;
  }
  .inner-container .full-price .col-sm {
    padding: 0;
    text-align: right;
    width: 100%;
  }
  .inner-container .full-price .col-sm .btn {
    text-align: center;
  }
  .inner-container .full-price .btn-order {
    width: 100%;
    text-align: center;
  }
  .inner-container .full-price .btn-order.btn-cart-next {
    margin-bottom: 15px;
  }
  .inner-container .prod-order-panel {
    margin-bottom: 20px;
  }
  .inner-container .prod-order-panel .w-420px, .inner-container .prod-order-panel .w-270px, .inner-container .prod-order-panel .w-344px {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    padding: 0 7px;
  }
  .inner-container .prod-order-panel .order-input[type=text] {
    max-width: calc(100% - 14px) !important;
    min-width: calc(100% - 14px) !important;
    width: calc(100% - 14px) !important;
    margin-left: 7px;
    margin-right: 7px;
  }
  .inner-container .prod-order-panel .w-270px {
    margin-bottom: 10px;
  }
  .inner-container .prod-order-panel .order-input {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .inner-container .prod-order-panel h4 {
    text-align: center;
  }
  .inner-container .prod-order-panel .prod-delivery {
    height: 115px !important;
    margin-bottom: 20px;
    padding: 10px 7px !important;
    max-width: calc(100% - 14px) !important;
    min-width: calc(100% - 14px) !important;
    width: calc(100% - 14px) !important;
    margin-left: 7px;
    margin-right: 7px;
  }
  .inner-container .prod-order-panel .prod-delivery .prod-main {
    display: block !important;
  }
  .inner-container .prod-order-panel .prod-delivery label {
    width: 220px !important;
  }
  .inner-container .prod-order-panel .prod-delivery .prod-price {
    position: absolute;
  }
  .inner-container .prod-order-panel .js-deliv-price {
    margin-left: 0 !important;
  }
  .inner-container .prod-order-panel .prod-delivery-accept {
    margin: 0 7px;
  }
  .inner-container .js-in-home.order-input[type=text], .inner-container .js-in-room.order-input[type=text], .inner-container .js-in-pod.order-input[type=text], .inner-container .js-in-et.order-input[type=text] {
    width: 44% !important;
    min-width: 44% !important;
    max-width: 44% !important;
  }
  .inner-container .prod .w-100.d-flex.justify-content-end .select-container {
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 10px;
  }
  .inner-container .prod .edd-root {
    width: 100%;
    display: block;
  }
  .inner-container .prod .tabs li {
    margin-right: -3px;
    width: 50%;
  }
  .inner-container .prod .tabs .g-text {
    display: block !important;
  }

  .btn-order {
    padding: 14px 28px !important;
    line-height: unset !important;
  }

  /* Order */
  .main-carousel:not(.home-carousel) {
    padding-top: 15px;
    height: 131px;
  }
  .main-carousel:not(.home-carousel) .flickity-viewport {
    height: 156px !important;
  }
  .main-carousel:not(.home-carousel) .flickity-viewport .prod-dual.prod-md {
    width: 220px;
    min-width: 220px;
    height: 106px;
  }
  .main-carousel:not(.home-carousel) .flickity-viewport .prod-dual.prod-md .g-text {
    display: block;
    font-size: 14px;
  }
  .main-carousel:not(.home-carousel) .flickity-viewport .prod-dual.prod-md > div {
    width: 110px;
  }
  .main-carousel:not(.home-carousel) .flickity-viewport .prod-dual.prod-md > div:first-of-type {
    width: 98px !important;
  }
  .main-carousel:not(.home-carousel) .flickity-viewport .prod-dual.prod-md h5 {
    height: auto;
    margin-top: 0;
    line-height: 14px;
  }
  .main-carousel:not(.home-carousel) .flickity-viewport .prod-dual.prod-md .margin {
    display: none;
  }
  .main-carousel:not(.home-carousel) .carousel-cell {
    width: 220px;
    margin-right: 20px;
  }

  .order-table-2 .g-text {
    display: block;
    font-size: 14px;
  }
  .order-table-2 tr {
    margin: 0 7px;
  }
  .order-table-2 tr > td:nth-of-type(1), .order-table-2 tr > td:nth-of-type(2), .order-table-2 tr > td:last-of-type {
    width: 50%;
  }
  .order-table-2 tr > td:nth-of-type(1), .order-table-2 tr > td:nth-of-type(2) {
    display: block;
    width: 120%;
    padding-left: 7px;
  }
  .order-table-2 tr > td:last-of-type {
    text-align: right;
    font-size: 16px !important;
    padding-right: 7px;
  }
  .order-table-2 tr:last-child > td:nth-of-type(1), .order-table-2 tr:last-child > td:nth-of-type(2) {
    display: table-cell;
  }
  .order-table-2 tr:last-child > td:nth-of-type(2) {
    display: none;
  }
  .order-table-2 tr:last-child .price-text {
    font-size: 20px !important;
  }

  .tabs li {
    margin-right: -3px;
    width: 50%;
    text-align: center;
  }
  .tabs li h4 {
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3px;
  }
  .tabs input.w-464px {
    max-width: unset;
    min-width: unset;
  }
  .tabs .btn {
    width: 100%;
  }
  .tabs .prod-order {
    position: relative;
    height: 106px;
    margin-bottom: 20px;
  }
  .tabs .prod-order .g-text {
    display: block;
    font-size: 14px;
    margin-left: 7px;
  }
  .tabs .prod-order > div:first-of-type {
    min-width: unset;
    width: 100%;
  }
  .tabs .prod-order > div:first-of-type .g-text {
    min-width: 150px;
    line-height: 11px;
  }
  .tabs .prod-order > div:nth-child(2), .tabs .prod-order > div:nth-child(3), .tabs .prod-order > div:nth-child(4) {
    position: absolute;
    top: 58px;
  }
  .tabs .prod-order > div:nth-child(2) div, .tabs .prod-order > div:nth-child(3) div, .tabs .prod-order > div:nth-child(4) div {
    margin-left: 7px;
  }
  .tabs .prod-order > div:nth-child(2) {
    left: 0;
  }
  .tabs .prod-order > div:nth-child(3) {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .tabs .prod-order > div:nth-child(4) {
    right: 0;
    text-align: right;
    margin-right: 7px;
  }
  .tabs .prod-order > div {
    min-width: unset;
  }
  .tabs .prod-order .btn {
    width: 125px;
    height: 40px;
    text-align: center;
    margin-right: 7px;
  }
  .tabs .prod-order h5 {
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    height: unset;
    margin-top: 0;
  }
}
/* левое меню */
#sidenav {
  width: 288px;
  background: #fff;
  z-index: 100;
}

.sidenav {
  display: none;
  position: fixed;
  height: 100vh;
  z-index: 99;
  left: 0;
  top: 0;
}
.sidenav.sidenav_overlay {
  width: 100%;
  opacity: 0.75;
  background-color: #121212;
}
.sidenav .header-item {
  width: 288px;
  margin: 0;
  height: 50px;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 15px;
}
.sidenav .header-item .header-item-icon img {
  width: 20px;
}
.sidenav .sidenav_info {
  margin-top: auto;
}
.sidenav .sidenav_userinfo {
  width: 100%;
}
.sidenav .sidenav_userinfo .btn {
  border-radius: 0;
  height: 50px;
  padding: 9px 15px;
}
.sidenav .sidenav_userinfo .btn > img {
  vertical-align: middle;
}
.sidenav .sidenav_userinfo .btn > span {
  font: 22px "Neris";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: clip;
  margin-left: 15px;
}
.sidenav .sidenav_links li {
  padding: 0 15px;
  margin-top: 10px;
  font: 18px "Neris";
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e94c27;
}
.sidenav .authorized {
  font-size: 18px;
}
.sidenav .sidebar-user__links {
  padding: 20px 0;
}
.sidenav .sidebar-user__link {
  margin-left: 15px;
  font-size: 18px;
  line-height: 30px;
}
.sidenav .easy_modal {
  width: 100%;
  z-index: 999;
  padding: 10px;
  margin-left: 0;
  margin-top: 0;
  top: 0;
  left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 100vh;
}
.sidenav .easy_modal h2 {
  margin-top: 17vh;
  margin-bottom: 10vh;
  text-align: center;
}
.sidenav .easy_modal p {
  margin-bottom: 5vh;
  text-align: center;
}
.sidenav .easy_modal .btn, .sidenav .easy_modal .input-btn-white {
  width: 100%;
  display: block;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.sidenav .easy_modal .btn {
  margin-top: 10vh;
}
.sidenav .easy_modal input {
  text-align: center;
}

/* Header border bottom */
header {
  border-bottom: 1px solid #e7e7e7;
}

textarea {
  font-family: "Neris";
  font-weight: 300;
  font-size: 16px !important;
  color: var(--warm-grey);
  padding: 15px 10px !important;
}

.btn-order {
  padding: 0 28px;
  line-height: 40px;
}

.order-radio:checked + label::before {
  content: " ";
  background: url(../img/round.svg) center no-repeat;
}

/*# sourceMappingURL=mobile320.css.map */
