@font-face{
  font-family: 'Neris';
  src: url('Neris/neris-light.eot');
  src: url('Neris/neris-light.eot?#iefix') format('embedded-opentype'),
  url('Neris/neris-light.woff') format('woff'),
  url('Neris/neris-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
@font-face{
  font-family: 'Neris';
  src: url('Neris/neris-lightitalic.eot');
  src: url('Neris/neris-lightitalic.eot?#iefix') format('embedded-opentype'),
  url('Neris/neris-lightitalic.woff') format('woff'),
  url('Neris/neris-lightitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
 
@font-face{
  font-family: 'Neris';
  src: url('Neris/neris-black.eot');
  src: url('Neris/neris-black.eot?#iefix') format('embedded-opentype'),
  url('Neris/neris-black.woff') format('woff'),
  url('Neris/neris-black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}