body {
    font-family: 'Neris', sans-serif;
    margin: 0;
    font-size: 16px;
    color: #101010;
}

a { 
    color: inherit; 
}

.no-warp {
    white-space: nowrap;
}

.mg-auto {
    margin: auto !important;
}

.mg-auto-vert {
    margin: auto 0 !important;
}

.mg-unset {
	margin: unset !important;
}

.w-100 {
    width: 100% !important;
}

.w-150px {
    min-width: 150px;
    max-width: 150px;
}

.w-464px {
    min-width: 464px;
    max-width: 464px;
}

.pd-unset {
	padding: unset !important;
}

.p-relative {
    position: relative !important;
}

.fl-right {
    float: right !important;
}

.fl-left {
    float: left !important;
}

a {
    text-decoration: none;
}

ul li, ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 8px 0;
}

.bd {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.bd-btm {
    border-bottom: 1px solid #e6e6e6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 34px;
    margin-top: 60px;
    margin-bottom: 30px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: 38px;
}

h3 {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 18px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    color: #e74921;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.price-text {
    font-size: 20px;
    font-weight: bold;
}

.g-text {
    color: #949694;
}

.p-text {
    font-size: 18px;
}

.a-link {
    color: #e74921;
}

.mg-btm {
    margin-bottom: 14px;
}

.mg-14px-vert {
    margin-bottom: 14px;
    margin-top: 14px;
}

.mg-24px-top {
    margin-top: 24px;
}

.prod {
    width: 365px;
    min-width: 365px;
    padding: 15px;
    height: 440px;
}

.prod-images {
    height: 220px;
}

.prod-main{
    height: 107px;
    overflow: hidden;
}

.prod-img {
    height: 185px;
}

.prod-price {
    position: relative; 
    top: 9px;
}

.prod-btn-cart {
    float: right;
}

.btn {
    font-size: 16px;
    background-color: #e94d26;
    border-radius: 10px;
    color: white;
    padding: 9px 18px;
    border: 1px solid #e94d26;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #e94d26;
}

.btn-white {
    background-color: white;
    border: 1px solid #e94d26;
    color: #e94d26;
}

.btn-white:hover {
    background-color: #e94d26;
    color: white;
}

.prod-labels {
    position: absolute;
}

.prod-label {
    font-size: 11px;
    border-radius: 8px;
    padding: 4px 10px;
    background-color: gray;
    color: white;
}

.prod-dual {
    width: 746px;
    min-width: 746px;
}

.prod-dual > div {
    width: 333px;
    height: 100%;
}

.prod-dual .prod-images {
    height: 100%;
}

.prod-dual .prod-img {
    height: 385px;
}

.prod-dual .prod-main {
    height: 327px;
}

.prod-dual.prod-md {
	width: 556px;
    min-width: 556px;
    height: 230px;
}

.prod-dual.prod-md > div {
    width: 252px;
}

.prod-dual.prod-md .prod-img {
    height: 200px;
}

.prod-dual.prod-md .prod-main {
    height: 117px;
}

.prod-sm {
    height: 352px;
}

.prod-sm .prod-main {
    height: 17px;
}

.prod-label-hit {
    background-color: #f99422;
}

.prod-label-new {
    background-color: #ef4921;
}

.wan-spinner .plus, .wan-spinner .minus {
    font-size: 16px;
    padding: 9px 9px;
    width: 30px;
    height: unset;
    line-height: unset;
}

.wan-spinner, .wan-spinner input {
    border: none;
}

.wan-spinner input {
    font-size: 18px;
}

.wan-spinner {
    display: flex;
    align-items: baseline;
}

.p-text-block {
    max-width: 560px;
    margin-bottom: 36px;
}

#easy_modal_overlay {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}

.easy_modal {
    width: 465px;
    height: 290px;
    margin-top: -145px;
    margin-left: -232px;
    padding: 32px;
    border: none;
    -webkit-box-shadow: 1px 1px 19px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    1px 1px 19px 0px rgba(50, 50, 50, 0.7);
    box-shadow:         1px 1px 19px 0px rgba(50, 50, 50, 0.7);
}

.easy_modal .easy_modal_close {
	width: 22px;
	height: 22px;
	top: 32px;
    right: 32px;
}

.easy_modal h2 {
    font-weight: normal;
    margin: 0;
}

.input {
    padding: 9px 18px;
    border-radius: 10px;
    margin: 24px 0;
    font-size: 16px;
}

.inner-container {
    min-width: 754px;
    max-width: 754px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.page {
    font-size: 18px;
}

.page p, .page ul, .page img {
    margin-bottom: 40px;
}

.page ul li {
    margin-bottom: 20px;
    margin-left: 40px;
}

.page ul li::before {
    content: "";
    display: list-item;
    float: left;
    list-style: disc;
    color: #e74921;
    position: relative;
    left: -10px;
}

.page img {
    width: 120%;
    margin-left: calc(100%*-0.1);
}

.tabs li {
    display: inline-block;
    margin-right: 30px;
    border-bottom: 2px solid #8f8f8f;
}

.tabs li.active h4 {
    color: #e74921;
}

.tabs li.active {
    border-color: #e74921;
}

.prod-order {
    padding: 30px;
    height: 100px;
}

.prod-order > div {
    display: inline-block;
    min-width: 97px;
}

.prod-order > div:last-of-type {
    display: flex;
    min-width: 144px;
    justify-content: end;
}

.prod-order > div:first-of-type {
    min-width: 258px;
}

.green-text {
    color: #0acb60;
}

.tabs .input {
    margin: 0 0 24px 0;
}

.main-menu {
    background-color: #e94d26;
    color: white;
}

.main-menu ul {
    display: flex;
    margin: unset;
}

.main-menu ul li {
    position: relative;
}

.main-menu > nav > ul > li:first-of-type > a {
    white-space: nowrap;
}

.main-menu ul li a span {
    position: relative;
    margin-right: 8px;
    top: 1px;
}

.main-menu li a {
    display: table-cell;
    text-align: center;
    margin: auto 0;
    padding: 0 22px;
    border-left: 1px solid #ba2400;
    height: 58px;
    vertical-align: middle;
}

.main-menu li:last-of-type > a {
    border-right: 1px solid #ba2400;
}

.main-menu li:hover {
    background-color: #ba2400;
}

.h-100 {
    height: 100%;
}

.main-menu .sub-menu ul {
    position: absolute;
    flex-direction: column;
    z-index: 100;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: .1s linear all;
}

.main-menu .sub-menu li a {
    min-width: 200px;
    border-right: 1px solid #ba2400;
    border-bottom: 1px solid #ba2400;
    background-color: #e94d26;
}

.main-menu .sub-menu li:first-of-type a {
    border-top: 1px solid #ba2400;
} 

.main-menu .sub-menu li:hover a {
    background-color: #ba2400;
}

.main-menu li.sub-menu:hover ul {
    visibility: visible;
    opacity: 1;
}

.main-menu li.sub-menu > a {
    white-space: nowrap;
}

.main-menu li.sub-menu > a::after {
    content: url(../img/v.svg);
    padding: 0 2px;
    position: relative;
    right: -10px;
    top: -1px;
}

.btn-header:hover {
    background-color: #ba2400;
    border: 1px solid #ba2400;
    color: white;
}

.btn-user {
    padding: 6px 12px;
}

.header-item-first {
    flex-grow: 1;
}

.header-item {
    margin-right: 56px;
}

.header-item-icon {
    margin-right: 20px;
}

.logo {
    margin-right: 20px;
}

.logo-text {
    font-size: 24px; 
    font-weight: bold; 
    line-height: .9;
}

.header-item-cart {
    margin-right: 30px;
}

.header-item-cart-btn {
    margin-right: 16px;
}

.prod-user {
    position: absolute;
    right: 0;
    z-index: 101;
    background-color: white;
    top: 70px;
    color: #101010;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 1px 1px 7px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 1px 1px 7px 0px rgba(50, 50, 50, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: .1s linear all;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.prod-user > div {
    margin-bottom: 10px;
}

.prod-user img {
    width: 20px;
}

.prod-user h3 {
    color: #101010;
    margin: unset;
}

.w-270px {
    max-width: 270px;
    min-width: 270px;
}

.h-unset {
    height: unset !important;
    max-height: unset !important;
    min-height: unset !important;
}

.prod-user-close {
    cursor: pointer;
}

.home-carousel .carousel-cell, .home-carousel .carousel-cell img {
    width: 100%; /* full width */
    height: 400px; /* height of carousel */
    position: relative;
}

.section-slider {
    margin-top: -1px;
}

.home-carousel .flickity-page-dots {
    bottom: 25px;
}

.home-carousel .flickity-page-dots .dot {
    background-color: #e7e3de;
    opacity: 1;
}

.home-carousel .flickity-page-dots .dot.is-selected {
    background-color: #e74f25;
}

.home-carousel .flickity-button {
    background-color: transparent;
}

.home-carousel .flickity-button-icon {
	fill: white;
}

.home-carousel .flickity-button:hover {
	background-color: transparent;
	cursor: pointer;
}

.slider-content {
    position: absolute;
    color: white;
    background-image: url(../img/brush.png);
    top: 30px;
    left: 100px;
    height: 340px;
    width: 607px;
    padding: 20px 0 0 115px;
}

.slider-h1 {
    font-size: 84px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider-h2 {
    font-size: 38px;
    font-weight: bold;
}

.slider-h3 {
    font-size: 20px;
    margin-top: 30px;
}

.gray-block {
    background-color: #f3f3f3;
    padding: 20px 25px;
}

.gray-block ul {
    max-width: 826px;
}

footer {
    background-color: #3a3a3a;
    color: #949294;
}

.devider {
    border-bottom: 1px solid #525552;
    height: 1px;
}

.footer-logo {
    margin-right: 20px;
}

footer h5 {
    color: white;
}

.pd-btm-20 {
    padding-bottom: 20px;
}

.pd-top-20 {
    padding-top: 20px;
}

.mg-btm-20 {
    margin-bottom: 20px;
}

.creator {
    font-size: 14px;
    float: right;
}

footer ul {
    margin: unset;
}

.foot-hor-menu ul li {
    display: inline-block;
    margin-right: 15px; 
}

.foot-menu ul li {
    display: inline-block;
    max-width: 220px;
    min-width: 220px;
    margin-bottom: 10px;
}

.footer-phone {
    font-size: 34px;
    white-space: nowrap;
    color: white;
}

.col-phohe {
    padding-left: 0;
}

.icon-soc {
	padding: 10px;
	display: inline-block;
    border-radius: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

.icon-soc.vk {
    background-color: #45658f;
}

.icon-soc.ins {
    background-color: #e13c4d;
}

.steps {
    font-size: 14px;
    font-weight: normal;
    margin-top: 29px;
}

.prod-incart {
    height: 100px;
    padding: 10px;
}

.prod-incart .prod-adds {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.prod-incart .prod-img, .prod-incart .prod-img > img {
    max-width: 100%;
    max-height: 100%;
}

.prod-incart-desc {
    min-width: 230px;
    max-width: 230px;
}

.prod-incart-img .prod-adds {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 11px;
    display: inline;
}

.prod-incart > div {
    text-align: center;
}

.prod-incart-price .prod-price {
    top: 25px;
}

.prod-incart-del > a {
    position: relative;
	top: 28px;
	padding: 0px 10px 5px 10px;
	border-radius: 40px;
}

.prod-incart-del {
    max-width: 50px;
}

.prod-incart-img {
    max-width: 150px;
}

.cart-additionals .carousel-cell, 
.cart-additionals .carousel-cell img,
.cart-drinks .carousel-cell, 
.cart-drinks .carousel-cell img {
    width: 48%; /* full width */
    height: 135px; /* height of carousel */
    margin: 0px 7px;
}

.prod.prod-cart-adds {
    width: 100%;
    height: 100%;
    min-width: unset;
}

.prod-cart-adds.prod-dual.prod-md .prod-img,
.prod-cart-adds.prod-dual.prod-md .prod-img > img {
	max-height: 100%;
    max-width: 100%;
}

.prod-cart-adds .margin {
    height: 20px;
}

.prod-cart-adds.prod-dual.prod-md > div:first-of-type {
	width: 182px;
}

.cart-drinks .flickity-prev-next-button.next,
.cart-additionals .flickity-prev-next-button.next {
	right: -50px;
    border: 1px solid #e6e6e6;
    width: 30px;
    height: 30px;
}

.cart-drinks .flickity-prev-next-button.previous,
.cart-additionals .flickity-prev-next-button.previous {
	left: -50px;
    border: 1px solid #e6e6e6;
    width: 30px;
    height: 30px;
}

.full-price {
    height: 40px;
}

.cart-full-price span {
    font-size: 24px;
    font-weight: bold;
    line-height: .9;
    margin-left: 20px;
}

.cart-full-price > div {
    margin-top: 6px;
}

.btn-white-black {
    border: 1px solid #e6e6e6;
    background-color: white;
    color: #101010;
}

.btn-order {
    padding: 14px 28px;
}

.prod-order-panel {
    padding: 30px;
    height: unset;
}

.w-420px {
    max-width: 416px;
    min-width: 416px;
}

.order-input {
    margin: 24px 0 0 0;
}

.order-radio {
    display: none;
}

.order-radio + label {
    cursor: pointer;
}

.order-radio + label:first-of-type {
    margin-right: 25px;
}

.order-radio + label::before {
    content: '';
    display: inline-flex;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin-right: 15px;
    padding: 5px;
    height: 22px;
    width: 22px;
    
}

.order-radio:checked + label::before {
    content: url(../img/round.svg);
}

.w-344px {
    min-width: 338px !important;
    max-width: 338px !important;
}

.prod-dual.prod-md.prod-delivery .prod-main {
	height: 37px;
}
.prod-dual.prod-md.prod-delivery .prod-price {
	font-size: 18px;
}

.prod-dual.prod-md.prod-delivery {
    height: 127px;
}

.prod-delivery .order-radio + label::before {
    position: absolute;
    top: 10px;
    left: -40px;
}

.prod-delivery .order-radio + label {
    margin: 0;
    margin-left: 45px; 
}

.prod-delivery:nth-child(odd) {
    margin-right: 14px;
}

.prod-delivery .price-text {
    position: absolute;
    top: 70px;
}

.w-442px {
    min-width: 442px;
    max-width: 442px;
}

.w-174px {
    min-width: 174px;
    max-width: 174px;
}

.w-247px {
    min-width: 247px;
    max-width: 247px;
}

.w-633px {
    min-width: 633px;
    max-width: 633px;
}


.mg-right-20px {
    margin-right: 16px;
}

.g-adress {
    font-size: 24px;
    font-weight: bold;
}

.order-table { border-collapse: collapse; }

.order-table img {
    margin: 0 20px;
}

.order-table tr {
    height: 60px;
}

.order-table tr td:first-of-type {
    width: 360px;
}

.order-table tr td:last-of-type {
    text-align: right;
    width: 340px;
}

.order-table-2 tr > td:nth-of-type(1) {
    width: 250px;
}

.order-table-2 tr > td:nth-of-type(2)  {
    width: 290px;
}


.order-table-2 tr > td:last-of-type {
    text-align: unset;
    width: 248px;
}

.order-table-2 tr:last-of-type {
    border-top: 1px solid #e74d29;
    height: 70px;
}

.order-table-2 tr:last-of-type .price-text {
    font-size: 24px;
}